
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Read Files</h2>

@Html.ActionLink("File1", "FileContent", "Files", new { id = "File1" }, new { id = "File1" , @class="btn btn-default" })
@Html.ActionLink("File2", "FileContent", "Files", new { id = "File2" }, new { id = "File2", @class = "btn btn-default" })
@Html.ActionLink("File3", "FileContent", "Files", new { id = "File3" }, new { id = "File3", @class = "btn btn-default" })
@Html.ActionLink("File4", "FileContent", "Files", new { id = "File4" }, new { id = "File4", @class = "btn btn-default" })
@Html.ActionLink("File5", "FileContent", "Files", new { id = "File5" }, new { id = "File5", @class = "btn btn-default" })
@Html.ActionLink("File6", "FileContent", "Files", new { id = "File6" }, new { id = "File6", @class = "btn btn-default" })

